body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #8a1e8a;
    color: #f1f5f9;         
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}


form {
    text-align: center;
}


h1 {
    color: #e0f2fe;        
}

form {
    margin-bottom: 15px;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 6px 10px;
    background-color: #f63bdd; 
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c325eb;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
    background-color: #ffffff;
    color: #000000;      
    padding: 6px;
}
